.wave {
    animation-name: wave-animation;  
    animation-duration: 2.5s;        
    animation-iteration-count: infinite;  
    transform-origin: 70% 70%;      
    display: inline-block;
  }
  
  @keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) }  
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) }  
    100% { transform: rotate( 0.0deg) }
  }

  /* Color Theme Swatches in Hex */
.Cyber-Future-1-hex { color: #00FF94; }
.Cyber-Future-2-hex { color: #333333; }
.Cyber-Future-3-hex { color: #0099CC; }
.Cyber-Future-4-hex { color: #FF1493; }
.Cyber-Future-5-hex { color: #C0C0C0; }

/* Color Theme Swatches in RGBA */
.Cyber-Future-1-rgba { color: rgba(0, 255, 148, 1); }
.Cyber-Future-2-rgba { color: rgba(51, 51, 51, 1); }
.Cyber-Future-3-rgba { color: rgba(0, 153, 204, 1); }
.Cyber-Future-4-rgba { color: rgba(255, 20, 147, 1); }
.Cyber-Future-5-rgba { color: rgba(192, 192, 192, 1); }

/* Color Theme Swatches in HSLA */
.Cyber-Future-1-hsla { color: hsla(154, 100, 50, 1); }
.Cyber-Future-2-hsla { color: hsla(0, 0, 20, 1); }
.Cyber-Future-3-hsla { color: hsla(195, 100, 40, 1); }
.Cyber-Future-4-hsla { color: hsla(327, 100, 53, 1); }
.Cyber-Future-5-hsla { color: hsla(0, 0, 75, 1); }
