

html {
  font-family: 'Space Mono', monospace;
  font-size: 18px;
  line-height: 1.6;
  margin: 0;
  text-align: center;
  scroll-behavior: smooth;
  background-color: #000000;
  color: #C0C0C0;
  
}

.section {
  justify-content: center;
  align-items: center;

}


li{
  list-style: none;
}




h2,
h3,
h4, 
h5,
h6 {
color: #C0C0C0;
font-family: 'Bungee', cursive;
}

h1 {
  font-family: 'Bungee Shade', cursive;
  font-size: 3.5rem;
  color: #C0C0C0;
}

.wave {
    animation-name: wave-animation;  
    animation-duration: 2.5s;        
    animation-iteration-count: infinite;  
    transform-origin: 70% 70%;      
    display: inline-block;
  }
  
  @keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) }  
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) }  
    100% { transform: rotate( 0.0deg) }
  }


  /*Navigation*/
  .logo{
    float: left;
    display: inline-block;
    width: 80px;
  }


.nav-bar a{
  float: left;
  color: #C0C0C0;
  text-decoration: none;
  font-size: 18px;
  display: block;
}



.nav-bar {
  position: fixed;
  width: 100%;
  background-color: black;
  text-align: left;
  min-height: 54px;
  display: flex;
  justify-content: space-between;
  top:0;
  left: 0;
  overflow: hidden;
  z-index: 9999;
  
}
.navigation-items {
  display: flex;
  text-align: left  ;
  margin: 0px;
}
.navigation-item {
  display: inline-block;
  padding: 10px 9px;
  justify-content: space-between;
}
.banner {
  
}
.banner h2{
  color: #C0C0C0;
}
.wave {
}
.about-section {
}
.projects-section {
}
.proj-container {
}
.proj-box {
}
.pawfectly {
}
.proj-description {
}
.website-img {
  width: 35%;
}
.proj-lang {
}
.proj-icons {
  width: 48PX
}
.proj-link {
}
.design-system {
}
.num-guesser {
}
.credit-checker {
}
.mystery-organism {
}
